/* v2.0 | 20110126
  http://meyerweb.com/eric/tools/css/reset/ 
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body, html {
  font-family: "Montserrat", sans-serif;
  background-color: #262523;
}

.inner {
  width: 1744px;
  height: 100%;
  margin: 0px auto;
  position: relative;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  border: none;
  z-index: -1;
}

.header-container {
  width: 100%;
  height: 100px;
  position: fixed;
}
.header-container .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .inner h1 {
  width: 168px;
}
.header-container .inner h1 > a {
  width: 100%;
}
.header-container .inner h1 > a > img {
  width: 100%;
}
.header-container .inner .menu-wrapper {
  position: relative;
}
.header-container .inner .menu-wrapper .menu-btn {
  width: 50px;
  height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.header-container .inner .menu-wrapper .menu-btn > i {
  width: 100%;
  height: 2px;
  background-color: white;
}
.header-container .inner .menu-wrapper .menu-btn.on {
  gap: 0px;
}
.header-container .inner .menu-wrapper .menu-btn.on > i:nth-child(1) {
  transform: translateY(50%) rotate(45deg);
}
.header-container .inner .menu-wrapper .menu-btn.on > i:nth-child(2) {
  display: none;
}
.header-container .inner .menu-wrapper .menu-btn.on > i:nth-child(3) {
  transform: translateY(-50%) rotate(-45deg);
}
.header-container .inner .menu-wrapper .menu-box {
  display: none;
  position: absolute;
  top: 60px;
  right: 0px;
  flex-direction: column;
  gap: 24px;
  text-align: right;
}
.header-container .inner .menu-wrapper .menu-box > li > a {
  color: white;
  font-size: 22px;
}
.header-container .inner .menu-wrapper .menu-box.on {
  display: flex;
}

.main-container .visual-container {
  padding: 110px 0px 230px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.main-container .visual-container .visual-box {
  display: flex;
  align-items: center;
}
.main-container .visual-container .visual-box .change-box > span, .main-container .visual-container .visual-box > span {
  font-weight: 800;
  font-size: 147px;
  color: white;
}
.main-container .visual-container .visual-box .change-box {
  position: relative;
}
.main-container .visual-container .visual-box .change-box .change-text {
  animation-name: changeText;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}
.main-container .visual-container .visual-box .change-box .change-img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: changeImg;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}
.main-container .visual-container .visual-box .change-o {
  width: 54px;
  height: 54px;
  border: solid 28px white;
  border-radius: 100px;
  animation-name: changeO;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}
.main-container .video-container {
  padding-bottom: 300px;
  box-sizing: border-box;
}
.main-container .video-container .video-wrapper {
  width: 1300px;
  margin: 0px auto;
  text-align: right;
}
.main-container .video-container .video-wrapper > .text {
  color: #cecdcd;
  font-size: 28px;
  line-height: 1.5;
  margin: 40px 0px 26px;
}
.main-container .video-container .video-wrapper > .text > span {
  color: white;
  font-weight: 600;
}
.main-container .video-container .video-wrapper > .source {
  color: #878787;
  font-size: 17px;
}

@keyframes changeText {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes changeImg {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes changeO {
  0% {
    width: 54px;
    border-color: white;
  }
  50% {
    width: 160px;
    border-color: #ff5c29;
  }
  100% {
    width: 160px;
    border-color: #ff5c29;
  }
}