.main-container{
    .visual-container{
        padding: 110px 0px 230px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .visual-box{
            display: flex;
            align-items: center;

            .change-box > span, & > span{
                font-weight: 800;
                font-size: 147px;
                color: white;
            }

            .change-box{
                position: relative;

                .change-text{
                    animation-name: changeText;
                    animation-duration: 1.2s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    animation-timing-function: ease-in;
                }

                .change-img{
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    animation-name: changeImg;
                    animation-duration: 1.2s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    animation-timing-function: ease-in;
                }
            }

            .change-o{
                width: 54px;
                height: 54px;
                border: solid 28px white;
                border-radius: 100px;
                animation-name: changeO;
                animation-duration: 1.2s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: ease-in;
            }
        }
    }//visual-container

    .video-container{
        padding-bottom: 300px;
        box-sizing: border-box;

        .video-wrapper{
            width: 1300px;
            margin: 0px auto;
            text-align: right;

            & > .text{
                color: #cecdcd;
                font-size: 28px;
                line-height: 1.5;
                margin: 40px 0px 26px;

                & > span{
                    color: white;
                    font-weight: 600;
                }
            }

            & > .source{
                color: #878787;
                font-size: 17px;
            }
        }
    }//video-container

}

@keyframes changeText{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
}

@keyframes changeImg{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}

@keyframes changeO{
    0%{
        width: 54px;
        border-color: white;
    }

    50%{
        width: 160px;
        border-color: $orange;
    }

    100%{
        width: 160px;
        border-color: $orange;
    }
}