.main-container{
    .visual-container{
        padding: 110px 0px 230px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        .visual-box{
            display: flex;
            align-items: center;

            .change-box > span, & > span{
                font-weight: 800;
                font-size: 147px;
                color: white;
            }

            .change-box{
                position: relative;

                .change-text{
                    animation-name: changeText;
                    animation-duration: 1.2s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    animation-timing-function: ease-in;
                }

                .change-img{
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    animation-name: changeImg;
                    animation-duration: 1.2s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    animation-timing-function: ease-in;
                }
            }

            .change-o{
                width: 54px;
                height: 54px;
                border: solid 28px white;
                border-radius: 100px;
                animation-name: changeO;
                animation-duration: 1.2s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: ease-in;
            }
        }
    }//visual-container

    .video-container{
        padding-bottom: 280px;
        box-sizing: border-box;
        padding-top: 100px;
        opacity: 0;
        transition: 0.5s;

        .video-wrapper{
            width: 1300px;
            margin: 0px auto;
            text-align: right;

            & > .text{
                color: #cecdcd;
                font-size: 28px;
                line-height: 1.5;
                margin: 40px 0px 26px;

                & > span{
                    color: white;
                    font-weight: 600;
                }
            }

            & > .source{
                color: #878787;
                font-size: 17px;
            }
        }
    }//video-container

    .seenchro-container{
        height: 2800px;
        padding-top: 100px;
        box-sizing: border-box;
        opacity: 0;
        transition: 0.5s;

        .text-top{
            text-align: center;
            margin-bottom: 220px;

            & > p{
                font-size: 45px;
                color: white;
            }

            .bold{
                font-weight: 700;
                margin-bottom: 10px;
            }
        }

        .img-wrapper{
            width: 100%;
            position: relative;
            overflow: hidden;

            .seenchro-white-box{
                width: 100%;
                height: 600px;

                .seenchro-white{
                    position: absolute;
                    top: 0px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 250%;
                    transition: 0.5s;
                }
            }

            .seenchro-line-box{
                width: 100%;
                text-align: center;
                margin-top: 1384px;

                .seenchro-line{
                    width: 52%;
                    margin-bottom: 50px;
                    transition: 0.5s;
                    opacity: 0
                }

                .text-bottom{
                    opacity: 0;
                    transform: scale(0);
                    margin-top: 370px;
                    transition: 0.5s;

                    & > p{
                        font-size: 35px;
                        color: white;
                        line-height: 1.2;
                    }
        
                    .bold{
                        font-size: 46px;
                        font-weight: 500;
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }//seenchro-container

    .ai-tech-container{
        margin-top: 360px;
        height: 1122px;

        .content-wrapper{
            width: 100%;
            height: 100%;
            position: relative;

            .content-box{
                position: absolute;
                top: 0px;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                transition: 0.5s;

                & > .title-box{
                    padding: 100px 110px;
                    box-sizing: border-box;
                    border: solid 2px white;
                    border-radius: 100%;

                    & > p{
                        font-weight: 700;
                        font-size: 112px;
                    }

                    .title01{
                        color: $blue;
                    }

                    .title02{
                        color: $purple;
                        white-space: nowrap;
                    }

                    .title03{
                        color: $orange;
                    }
                }

                & > p{
                    color: white;
                    font-size: 38px;
                    margin-top: 30px;
                }
            }

            .content02, .content03{
                opacity: 0;
            }

            .text-box{
                padding-top: 630px;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                gap: 80px;

                & > img{
                    width: 42px;
                    height: 28px;
                }

                & > p{
                    font-size: 35px;
                    color: white;
                    text-align: center;
                    line-height: 1.5;
                }
            }

            .animation-wrapper{
                width: 100%;
                height: 390px;
                overflow: hidden;
                position: relative;

                .animation-box01{
                    display: flex;

                    .hudson-img01{
                        display: flex;

                        & > img{
                            width: 1400px;
                        }

                        &.original{
                            animation-name: rollingRightAni01;
                            animation-duration: 50s;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                            transform: translateX(-100%);
                        }

                        &.clone{
                            animation-name: rollingRightAni02;
                            animation-duration: 50s;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                            transform: translateX(-100%);
                        }
                    }
                }

                .animation-box02{
                    position: absolute;
                    top: 120px;
                    display: flex;

                    .hudson-img02{
                        display: flex;

                        & > img{
                            width: 1400px;
                        }

                        &.original{
                            animation-name: rollingLeftAni01;
                            animation-duration: 120s;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                        }

                        &.clone{
                            animation-name: rollingLeftAni02;
                            animation-duration: 120s;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                        }
                    }
                }

                .animation-box03{
                    position: absolute;
                    top: 240px;
                    display: flex;

                    .hudson-img03{
                        display: flex;

                        & > img{
                            width: 1400px;
                        }

                        &.original{
                            animation-name: rollingRightAni01;
                            animation-duration: 50s;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                            transform: translateX(-100%);
                        }

                        &.clone{
                            animation-name: rollingRightAni02;
                            animation-duration: 50s;
                            animation-timing-function: linear;
                            animation-iteration-count: infinite;
                            transform: translateX(-100%);
                        }
                    }
                }
            }
        }
    }//ai-tech-container

    .intro-container{
        background-color: white;
        padding: 170px 0px 130px;
        box-sizing: border-box;

        .inner{
            .intro-box{
                display: flex;
                padding-top: 40px;
                box-sizing: border-box;
                opacity: 0;
                transition: 0.5s;

                &:first-of-type{
                    margin-bottom: 150px;
                }

                & > .img-box{
                    width: 45%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .voice{
                        width: 70%;
                        padding-right: 100px;
                    }

                    .mouse{
                        width: 40%;
                        padding-right: 50px;
                    }
                }

                & > .text-box{
                    width: 55%;

                    & > dt{
                        font-weight: 700;
                        font-size: 35px;
                        color: $black;
                        padding: 20px 40px;
                        box-sizing: border-box;
                        border: solid 2px $black;
                        border-radius: 100px;
                        display: inline-block;
                    }

                    & > dd{
                        font-size: 25px;
                        color: $black;
                        line-height: 1.5;
                        padding: 15px 25px 25px;
                        box-sizing: border-box;
                        letter-spacing: -0.5px;
                    }
                }
            }
        }
    }//intro-container

    .email-container{
        padding: 130px 0px 100px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;

        .inner{
            display: flex;
            justify-content: space-between;

            .email-title-box{
                margin-left: 50px;
                text-align: center;
                transform: translateX(-30%);
                opacity: 0;
                transition: 0.5s;

                & > .title{
                    font-weight: 700;
                    font-size: 84px;
                    color: white;
                }

                & > .text{
                    font-weight: 500;
                    font-size: 35px;
                    color: white;
                    margin: 80px 0px 70px;
                    line-height: 1.5;
                }

                & > a{
                    font-size: 28px;
                    color: #fee250;
                    text-decoration: underline;
                }
            }

            .input-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                transform: translateX(30%);
                opacity: 0;
                transition: 0.5s;
                
                .input-wrapper{
                    width: 1000px;
                    display: flex;
                    gap: 3%;
                    margin-bottom: 50px;

                    .input-box{
                        width: 48.3%;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;

                        & > label{
                            font-size: 23px;
                            color: white;
                        }

                        & > input{
                            width: 100%;
                            height: 70px;
                            border: none;
                            border-radius: 18px;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 23px;
                            text-indent: 20px;
                        }
                    }
                }

                & > textarea{
                    width: 100%;
                    height: 420px;
                    border: none;
                    border-radius: 18px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 23px;
                    text-indent: 20px;
                    padding: 20px 0px;
                    box-sizing: border-box;
                    resize: none;
                }

                & > button{
                    font-family: 'Montserrat', sans-serif;
                    font-size: 28px;
                    color: white;
                    background: none;
                    border: solid 2px white;
                    border-radius: 50px;
                    padding: 10px 50px;
                    box-sizing: border-box;
                    margin-top: 80px;
                    transition: 0.5s;
                    cursor: pointer;

                    &:hover{
                        color: $black;
                        background-color: white;
                    }
                }
            }
        }
        .top-btn{
            position: absolute;
            right: 55px;
            bottom: 0px;
            width: 56px;
            height: 56px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            & > img{
                width: 70%;
            }
        }
    }//email-container
}


//keyframes/visual
@keyframes changeText{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
}

@keyframes changeImg{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }
}

@keyframes changeO{
    0%{
        width: 54px;
        border-color: white;
    }

    50%{
        width: 160px;
        border-color: $orange;
    }

    100%{
        width: 160px;
        border-color: $orange;
    }
}

//keyframes/ai-tech
@keyframes rollingLeftAni01 {
    0% { transform: translateX(0%); }
    50% { transform: translateX(-100%); }
    50.01% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

@keyframes rollingLeftAni02 {
    0% { transition: translateX(0%); }
    100% { transform: translateX(-200%); }
}

@keyframes rollingRightAni01 {
    0% { transition: translateX(-100%); }
    100% { transform: translateX(0%); }
}

@keyframes rollingRightAni02 {
    0% { transition: translateX(-100%); }
    100% { transform: translateX(0%); }
}