body, html{
    font-family: 'Montserrat', sans-serif;
    background-color: $black;
}

.inner{
    width: 1744px;
    height: 100%;
    margin: 0px auto;
    position: relative;
}

.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    border: none;
    z-index: -1;
}